node_modules/
webpack-assets.json
webpack-stats.json
npm-debug.log
*.swp

logs/*

.next/

yarn-error.log

.env

.expo/*

bak.git

lerna-debug.*

# JetBrains
# **/.idea/**/*.xml

.expo/

.DS_Store
packages/appFlutter/ios/Flutter/.last_build_id
