.i-stars__373c0__1T6rz {
  background: url(https://s3-media0.fl.yelpcdn.com/assets/public/stars_v2.yelp_design_web.yji-52d3d7a328db670d4402843cbddeed89.png) no-repeat;
  background-size: 176px 680px;
  display: inline-block;
  vertical-align: middle
}

@media print {
  .i-stars__373c0__1T6rz {
    background-image: none !important
  }

  .i-stars__373c0__1T6rz img {
    position: relative;
    width: auto;
    height: auto
  }
}

.i-stars--large-0__373c0__272jL {
  width: 176px;
  height: 32px;
  background-position: 0 0
}

@media print {
  .i-stars--large-0__373c0__272jL img {
    left: 0;
    top: 0
  }
}

.i-stars--large-1-half__373c0__1X_11 {
  width: 176px;
  height: 32px;
  background-position: 0 -32px
}

@media print {
  .i-stars--large-1-half__373c0__1X_11 img {
    left: 0;
    top: -32px
  }
}

.i-stars--large-1__373c0__1kclN {
  width: 176px;
  height: 32px;
  background-position: 0 -64px
}

@media print {
  .i-stars--large-1__373c0__1kclN img {
    left: 0;
    top: -64px
  }
}

.i-stars--large-2-half__373c0__2c_Jf {
  width: 176px;
  height: 32px;
  background-position: 0 -96px
}

@media print {
  .i-stars--large-2-half__373c0__2c_Jf img {
    left: 0;
    top: -96px
  }
}

.i-stars--large-2__373c0__1nJlc {
  width: 176px;
  height: 32px;
  background-position: 0 -128px
}

@media print {
  .i-stars--large-2__373c0__1nJlc img {
    left: 0;
    top: -128px
  }
}

.i-stars--large-3-half__373c0__2z4jR {
  width: 176px;
  height: 32px;
  background-position: 0 -160px
}

@media print {
  .i-stars--large-3-half__373c0__2z4jR img {
    left: 0;
    top: -160px
  }
}

.i-stars--large-3__373c0__3_Jon {
  width: 176px;
  height: 32px;
  background-position: 0 -192px
}

@media print {
  .i-stars--large-3__373c0__3_Jon img {
    left: 0;
    top: -192px
  }
}

.i-stars--large-4-half__373c0__2lYkD {
  width: 176px;
  height: 32px;
  background-position: 0 -224px
}

@media print {
  .i-stars--large-4-half__373c0__2lYkD img {
    left: 0;
    top: -224px
  }
}

.i-stars--large-4__373c0__1d6HV {
  width: 176px;
  height: 32px;
  background-position: 0 -256px
}

@media print {
  .i-stars--large-4__373c0__1d6HV img {
    left: 0;
    top: -256px
  }
}

.i-stars--large-5__373c0__1GcGD {
  width: 176px;
  height: 32px;
  background-position: 0 -288px
}

@media print {
  .i-stars--large-5__373c0__1GcGD img {
    left: 0;
    top: -288px
  }
}

.i-stars--regular-0__373c0__3ocQa {
  width: 108px;
  height: 20px;
  background-position: 0 -320px
}

@media print {
  .i-stars--regular-0__373c0__3ocQa img {
    left: 0;
    top: -320px
  }
}

.i-stars--regular-1-half__373c0__1Ght9 {
  width: 108px;
  height: 20px;
  background-position: 0 -340px
}

@media print {
  .i-stars--regular-1-half__373c0__1Ght9 img {
    left: 0;
    top: -340px
  }
}

.i-stars--regular-1__373c0__1HqiV {
  width: 108px;
  height: 20px;
  background-position: 0 -360px
}

@media print {
  .i-stars--regular-1__373c0__1HqiV img {
    left: 0;
    top: -360px
  }
}

.i-stars--regular-2-half__373c0__3LuvJ {
  width: 108px;
  height: 20px;
  background-position: 0 -380px
}

@media print {
  .i-stars--regular-2-half__373c0__3LuvJ img {
    left: 0;
    top: -380px
  }
}

.i-stars--regular-2__373c0__3LFi9 {
  width: 108px;
  height: 20px;
  background-position: 0 -400px
}

@media print {
  .i-stars--regular-2__373c0__3LFi9 img {
    left: 0;
    top: -400px
  }
}

.i-stars--regular-3-half__373c0__dpRnb {
  width: 108px;
  height: 20px;
  background-position: 0 -420px
}

@media print {
  .i-stars--regular-3-half__373c0__dpRnb img {
    left: 0;
    top: -420px
  }
}

.i-stars--regular-3__373c0__Xlhbn {
  width: 108px;
  height: 20px;
  background-position: 0 -440px
}

@media print {
  .i-stars--regular-3__373c0__Xlhbn img {
    left: 0;
    top: -440px
  }
}

.i-stars--regular-4-half__373c0__1YrPo {
  width: 108px;
  height: 20px;
  background-position: 0 -460px
}

@media print {
  .i-stars--regular-4-half__373c0__1YrPo img {
    left: 0;
    top: -460px
  }
}

.i-stars--regular-4__373c0__2YrSK {
  width: 108px;
  height: 20px;
  background-position: 0 -480px
}

@media print {
  .i-stars--regular-4__373c0__2YrSK img {
    left: 0;
    top: -480px
  }
}

.i-stars--regular-5__373c0__N5JxY {
  width: 108px;
  height: 20px;
  background-position: 0 -500px
}

@media print {
  .i-stars--regular-5__373c0__N5JxY img {
    left: 0;
    top: -500px
  }
}

.i-stars--small-0__373c0__1Z0vs {
  width: 88px;
  height: 16px;
  background-position: 0 -520px
}

@media print {
  .i-stars--small-0__373c0__1Z0vs img {
    left: 0;
    top: -520px
  }
}

.i-stars--small-1-half__373c0__3zUyk {
  width: 88px;
  height: 16px;
  background-position: 0 -536px
}

@media print {
  .i-stars--small-1-half__373c0__3zUyk img {
    left: 0;
    top: -536px
  }
}

.i-stars--small-1__373c0__3FrlJ {
  width: 88px;
  height: 16px;
  background-position: 0 -552px
}

@media print {
  .i-stars--small-1__373c0__3FrlJ img {
    left: 0;
    top: -552px
  }
}

.i-stars--small-2-half__373c0__1ufal {
  width: 88px;
  height: 16px;
  background-position: 0 -568px
}

@media print {
  .i-stars--small-2-half__373c0__1ufal img {
    left: 0;
    top: -568px
  }
}

.i-stars--small-2__373c0__Wzy19 {
  width: 88px;
  height: 16px;
  background-position: 0 -584px
}

@media print {
  .i-stars--small-2__373c0__Wzy19 img {
    left: 0;
    top: -584px
  }
}

.i-stars--small-3-half__373c0__w4sSE {
  width: 88px;
  height: 16px;
  background-position: 0 -600px
}

@media print {
  .i-stars--small-3-half__373c0__w4sSE img {
    left: 0;
    top: -600px
  }
}

.i-stars--small-3__373c0__3klKE {
  width: 88px;
  height: 16px;
  background-position: 0 -616px
}

@media print {
  .i-stars--small-3__373c0__3klKE img {
    left: 0;
    top: -616px
  }
}

.i-stars--small-4-half__373c0__3b-9V {
  width: 88px;
  height: 16px;
  background-position: 0 -632px
}

@media print {
  .i-stars--small-4-half__373c0__3b-9V img {
    left: 0;
    top: -632px
  }
}

.i-stars--small-4__373c0__1M80W {
  width: 88px;
  height: 16px;
  background-position: 0 -648px
}

@media print {
  .i-stars--small-4__373c0__1M80W img {
    left: 0;
    top: -648px
  }
}

.i-stars--small-5__373c0__3wo2U {
  width: 88px;
  height: 16px;
  background-position: 0 -664px
}

@media print {
  .i-stars--small-5__373c0__3wo2U img {
    left: 0;
    top: -664px
  }
}

@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
  .i-stars__373c0__1T6rz {
    background-image: url(https://s3-media0.fl.yelpcdn.com/assets/public/stars_v2@2x.yelp_design_web.yji-6fb03840141c3117356e128a78ab81e7.png)
  }
}
