.icon:before {
  width: 192px !important;
  height: 13094px !important;
}

.icon--fallback-inverted:before,
.icon--hover-fallback-inverted:hover:before,
.icon--hover-fallback-inverted:focus:before,
.icon--active-fallback-inverted.is-active:before,
.icon--fallback-inverted .icon:before,
.icon--hover-fallback-inverted:hover .icon:before,
.icon--hover-fallback-inverted:focus .icon:before,
.icon--active-fallback-inverted.is-active .icon:before {
  left: -96.0px !important;
}

.icon--14-add:before {
  top: -0px;
}

.icon--14-apple:before {
  top: -14px;
}

.icon--14-arrow-down:before {
  top: -28px;
}

.icon--14-arrow-up:before {
  top: -42px;
}

.icon--14-baron:before {
  top: -56px;
}

.icon--14-bookmark:before {
  top: -70px;
}

.icon--14-bullet:before {
  top: -84px;
}

.icon--14-camera:before {
  top: -98px;
}

.icon--14-cash-back:before {
  top: -112px;
}

.icon--14-check-in:before {
  top: -126px;
}

.icon--14-checkmark:before {
  top: -140px;
}

.icon--14-chevron-down:before {
  top: -154px;
}

.icon--14-chevron-left:before {
  top: -168px;
}

.icon--14-chevron-right:before {
  top: -182px;
}

.icon--14-chevron-up:before {
  top: -196px;
}

.icon--14-clock:before {
  top: -210px;
}

.icon--14-close:before {
  top: -224px;
}

.icon--14-comment:before {
  top: -238px;
}

.icon--14-deal:before {
  top: -252px;
}

.icon--14-directions:before {
  top: -266px;
}

.icon--14-drafts:before {
  top: -280px;
}

.icon--14-duke:before {
  top: -294px;
}

.icon--14-event:before {
  top: -308px;
}

.icon--14-file:before {
  top: -322px;
}

.icon--14-first:before {
  top: -336px;
}

.icon--14-flag:before {
  top: -350px;
}

.icon--14-flame:before {
  top: -364px;
}

.icon--14-friends:before {
  top: -378px;
}

.icon--14-gift:before {
  top: -392px;
}

.icon--14-heart:before {
  top: -406px;
}

.icon--14-histogram:before {
  top: -420px;
}

.icon--14-info:before {
  top: -434px;
}

.icon--14-king:before {
  top: -448px;
}

.icon--14-light-bulb:before {
  top: -462px;
}

.icon--14-light-bulb-outline:before {
  top: -476px;
}

.icon--14-lightning-bolt:before {
  top: -490px;
}

.icon--14-list:before {
  top: -504px;
}

.icon--14-location:before {
  top: -518px;
}

.icon--14-marker:before {
  top: -532px;
}

.icon--14-marker-grouped:before {
  top: -546px;
}

.icon--14-menu:before {
  top: -560px;
}

.icon--14-message:before {
  top: -574px;
}

.icon--14-more:before {
  top: -588px;
}

.icon--14-new:before {
  top: -602px;
}

.icon--14-nope:before {
  top: -616px;
}

.icon--14-order:before {
  top: -630px;
}

.icon--14-paper-plane:before {
  top: -644px;
}

.icon--14-pencil:before {
  top: -658px;
}

.icon--14-phone:before {
  top: -672px;
}

.icon--14-pin:before {
  top: -686px;
}

.icon--14-regular:before {
  top: -700px;
}

.icon--14-reply:before {
  top: -714px;
}

.icon--14-reservation:before {
  top: -728px;
}

.icon--14-review:before {
  top: -742px;
}

.icon--14-search:before {
  top: -756px;
}

.icon--14-settings:before {
  top: -770px;
}

.icon--14-speech:before {
  top: -784px;
}

.icon--14-speech-round:before {
  top: -798px;
}

.icon--14-star:before {
  top: -812px;
}

.icon--14-stopwatch:before {
  top: -826px;
}

.icon--14-ticket:before {
  top: -840px;
}

.icon--14-triangle-down:before {
  top: -854px;
}

.icon--14-triangle-left:before {
  top: -868px;
}

.icon--14-triangle-right:before {
  top: -882px;
}

.icon--14-triangle-up:before {
  top: -896px;
}

.icon--14-update:before {
  top: -910px;
}

.icon--18-add:before {
  top: -924px;
}

.icon--18-add-calendar:before {
  top: -942px;
}

.icon--18-add-friend:before {
  top: -960px;
}

.icon--18-add-photo:before {
  top: -978px;
}

.icon--18-apple:before {
  top: -996px;
}

.icon--18-arrow-down:before {
  top: -1014px;
}

.icon--18-arrow-up:before {
  top: -1032px;
}

.icon--18-back:before {
  top: -1050px;
}

.icon--18-background:before {
  top: -1068px;
}

.icon--18-badge:before {
  top: -1086px;
}

.icon--18-baron:before {
  top: -1104px;
}

.icon--18-bed:before {
  top: -1122px;
}

.icon--18-biz:before {
  top: -1140px;
}

.icon--18-blob:before {
  top: -1158px;
}

.icon--18-bookmark:before {
  top: -1176px;
}

.icon--18-bookmark-outline:before {
  top: -1194px;
}

.icon--18-bullhorn:before {
  top: -1212px;
}

.icon--18-camera:before {
  top: -1230px;
}

.icon--18-cash-back:before {
  top: -1248px;
}

.icon--18-chair:before {
  top: -1266px;
}

.icon--18-chat:before {
  top: -1284px;
}

.icon--18-chat-outline:before {
  top: -1302px;
}

.icon--18-check-in:before {
  top: -1320px;
}

.icon--18-checkmark:before {
  top: -1338px;
}

.icon--18-checkmark-badged:before {
  top: -1356px;
}

.icon--18-clapper:before {
  top: -1374px;
}

.icon--18-clock:before {
  top: -1392px;
}

.icon--18-close:before {
  top: -1410px;
}

.icon--18-coffee:before {
  top: -1428px;
}

.icon--18-comment:before {
  top: -1446px;
}

.icon--18-compliment:before {
  top: -1464px;
}

.icon--18-cool:before {
  top: -1482px;
}

.icon--18-cool-outline:before {
  top: -1500px;
}

.icon--18-deal:before {
  top: -1518px;
}

.icon--18-denied:before {
  top: -1536px;
}

.icon--18-desktop:before {
  top: -1554px;
}

.icon--18-directions:before {
  top: -1572px;
}

.icon--18-dish:before {
  top: -1590px;
}

.icon--18-download:before {
  top: -1608px;
}

.icon--18-draft:before {
  top: -1626px;
}

.icon--18-drafts:before {
  top: -1644px;
}

.icon--18-duke:before {
  top: -1662px;
}

.icon--18-embed:before {
  top: -1680px;
}

.icon--18-envelope:before {
  top: -1698px;
}

.icon--18-envelope-open:before {
  top: -1716px;
}

.icon--18-event:before {
  top: -1734px;
}

.icon--18-exclamation:before {
  top: -1752px;
}

.icon--18-external-link:before {
  top: -1770px;
}

.icon--18-facebook:before {
  top: -1788px;
}

.icon--18-fast-responder:before {
  top: -1806px;
}

.icon--18-feed:before {
  top: -1824px;
}

.icon--18-file:before {
  top: -1842px;
}

.icon--18-filter:before {
  top: -1860px;
}

.icon--18-first:before {
  top: -1878px;
}

.icon--18-flag:before {
  top: -1896px;
}

.icon--18-flame:before {
  top: -1914px;
}

.icon--18-followers:before {
  top: -1932px;
}

.icon--18-following:before {
  top: -1950px;
}

.icon--18-food:before {
  top: -1968px;
}

.icon--18-friends:before {
  top: -1986px;
}

.icon--18-funny:before {
  top: -2004px;
}

.icon--18-funny-outline:before {
  top: -2022px;
}

.icon--18-gift:before {
  top: -2040px;
}

.icon--18-grid:before {
  top: -2058px;
}

.icon--18-heart:before {
  top: -2076px;
}

.icon--18-ice-cream:before {
  top: -2094px;
}

.icon--18-info:before {
  top: -2112px;
}

.icon--18-key:before {
  top: -2130px;
}

.icon--18-king:before {
  top: -2148px;
}

.icon--18-light-bulb:before {
  top: -2166px;
}

.icon--18-light-bulb-outline:before {
  top: -2184px;
}

.icon--18-lightning-bolt:before {
  top: -2202px;
}

.icon--18-like:before {
  top: -2220px;
}

.icon--18-like-outline:before {
  top: -2238px;
}

.icon--18-linkedin:before {
  top: -2256px;
}

.icon--18-list:before {
  top: -2274px;
}

.icon--18-location:before {
  top: -2292px;
}

.icon--18-lock:before {
  top: -2310px;
}

.icon--18-lock-tempory:before {
  top: -2328px;
}

.icon--18-mail:before {
  top: -2346px;
}

.icon--18-mail-open:before {
  top: -2364px;
}

.icon--18-marker:before {
  top: -2382px;
}

.icon--18-medical:before {
  top: -2400px;
}

.icon--18-menu:before {
  top: -2418px;
}

.icon--18-message:before {
  top: -2436px;
}

.icon--18-mobile:before {
  top: -2454px;
}

.icon--18-music:before {
  top: -2472px;
}

.icon--18-nightlife:before {
  top: -2490px;
}

.icon--18-nope:before {
  top: -2508px;
}

.icon--18-order:before {
  top: -2526px;
}

.icon--18-overflow:before {
  top: -2544px;
}

.icon--18-paper-plane:before {
  top: -2562px;
}

.icon--18-pdf:before {
  top: -2580px;
}

.icon--18-pencil:before {
  top: -2598px;
}

.icon--18-phone:before {
  top: -2616px;
}

.icon--18-pin:before {
  top: -2634px;
}

.icon--18-plane:before {
  top: -2652px;
}

.icon--18-play-badged:before {
  top: -2670px;
}

.icon--18-popular:before {
  top: -2688px;
}

.icon--18-popular-biz:before {
  top: -2706px;
}

.icon--18-printer:before {
  top: -2724px;
}

.icon--18-profile:before {
  top: -2742px;
}

.icon--18-public-service:before {
  top: -2760px;
}

.icon--18-regular:before {
  top: -2778px;
}

.icon--18-reply:before {
  top: -2796px;
}

.icon--18-reservation:before {
  top: -2814px;
}

.icon--18-review:before {
  top: -2832px;
}

.icon--18-search-small:before {
  top: -2850px;
}

.icon--18-settings:before {
  top: -2868px;
}

.icon--18-share:before {
  top: -2886px;
}

.icon--18-shopping:before {
  top: -2904px;
}

.icon--18-similar:before {
  top: -2922px;
}

.icon--18-speech:before {
  top: -2940px;
}

.icon--18-speech-round:before {
  top: -2958px;
}

.icon--18-star:before {
  top: -2976px;
}

.icon--18-suitcase:before {
  top: -2994px;
}

.icon--18-talk:before {
  top: -3012px;
}

.icon--18-target:before {
  top: -3030px;
}

.icon--18-television:before {
  top: -3048px;
}

.icon--18-tennis:before {
  top: -3066px;
}

.icon--18-ticket:before {
  top: -3084px;
}

.icon--18-tools:before {
  top: -3102px;
}

.icon--18-transit:before {
  top: -3120px;
}

.icon--18-trash:before {
  top: -3138px;
}

.icon--18-trending:before {
  top: -3156px;
}

.icon--18-triangle-down:before {
  top: -3174px;
}

.icon--18-twitter:before {
  top: -3192px;
}

.icon--18-unfollow:before {
  top: -3210px;
}

.icon--18-unknown:before {
  top: -3228px;
}

.icon--18-unknown-outline:before {
  top: -3246px;
}

.icon--18-unlock:before {
  top: -3264px;
}

.icon--18-update:before {
  top: -3282px;
}

.icon--18-useful:before {
  top: -3300px;
}

.icon--18-useful-outline:before {
  top: -3318px;
}

.icon--18-video:before {
  top: -3336px;
}

.icon--18-warning:before {
  top: -3354px;
}

.icon--18-write-more:before {
  top: -3372px;
}

.icon--24-activity:before {
  top: -3390px;
}

.icon--24-activity-outline:before {
  top: -3414px;
}

.icon--24-add:before {
  top: -3438px;
}

.icon--24-add-biz:before {
  top: -3462px;
}

.icon--24-add-biz-outline:before {
  top: -3486px;
}

.icon--24-add-calendar:before {
  top: -3510px;
}

.icon--24-add-event:before {
  top: -3534px;
}

.icon--24-add-friend:before {
  top: -3558px;
}

.icon--24-add-friend-outline:before {
  top: -3582px;
}

.icon--24-add-outline:before {
  top: -3606px;
}

.icon--24-add-photo:before {
  top: -3630px;
}

.icon--24-add-photo-outline:before {
  top: -3654px;
}

.icon--24-ages-allowed:before {
  top: -3678px;
}

.icon--24-amazon:before {
  top: -3702px;
}

.icon--24-ambience:before {
  top: -3726px;
}

.icon--24-android:before {
  top: -3750px;
}

.icon--24-apple:before {
  top: -3774px;
}

.icon--24-arrow-down:before {
  top: -3798px;
}

.icon--24-arrow-up:before {
  top: -3822px;
}

.icon--24-auto-repair:before {
  top: -3846px;
}

.icon--24-back:before {
  top: -3870px;
}

.icon--24-badge:before {
  top: -3894px;
}

.icon--24-baron:before {
  top: -3918px;
}

.icon--24-bars:before {
  top: -3942px;
}

.icon--24-beauty:before {
  top: -3966px;
}

.icon--24-bed:before {
  top: -3990px;
}

.icon--24-bicycle:before {
  top: -4014px;
}

.icon--24-billiards:before {
  top: -4038px;
}

.icon--24-biz:before {
  top: -4062px;
}

.icon--24-bone:before {
  top: -4086px;
}

.icon--24-book:before {
  top: -4110px;
}

.icon--24-bookmark:before {
  top: -4134px;
}

.icon--24-bookmark-attach:before {
  top: -4158px;
}

.icon--24-bookmark-outline:before {
  top: -4182px;
}

.icon--24-broadcast-outline:before {
  top: -4206px;
}

.icon--24-bug-outline:before {
  top: -4230px;
}

.icon--24-bullhorn:before {
  top: -4254px;
}

.icon--24-bullhorn-outline:before {
  top: -4278px;
}

.icon--24-byob:before {
  top: -4302px;
}

.icon--24-camera:before {
  top: -4326px;
}

.icon--24-camera-outline:before {
  top: -4350px;
}

.icon--24-car:before {
  top: -4374px;
}

.icon--24-cart:before {
  top: -4398px;
}

.icon--24-cash-back:before {
  top: -4422px;
}

.icon--24-cash-back-outline:before {
  top: -4446px;
}

.icon--24-casual:before {
  top: -4470px;
}

.icon--24-chat:before {
  top: -4494px;
}

.icon--24-chat-outline:before {
  top: -4518px;
}

.icon--24-check-in:before {
  top: -4542px;
}

.icon--24-check-in-outline:before {
  top: -4566px;
}

.icon--24-checkmark:before {
  top: -4590px;
}

.icon--24-checkmark-badged:before {
  top: -4614px;
}

.icon--24-chevron-android:before {
  top: -4638px;
}

.icon--24-chevron-down:before {
  top: -4662px;
}

.icon--24-chevron-left:before {
  top: -4686px;
}

.icon--24-chevron-right:before {
  top: -4710px;
}

.icon--24-chevron-up:before {
  top: -4734px;
}

.icon--24-clipboard:before {
  top: -4758px;
}

.icon--24-clipboard-add:before {
  top: -4782px;
}

.icon--24-clock:before {
  top: -4806px;
}

.icon--24-close:before {
  top: -4830px;
}

.icon--24-coat-check:before {
  top: -4854px;
}

.icon--24-coffee:before {
  top: -4878px;
}

.icon--24-collection:before {
  top: -4902px;
}

.icon--24-collection-add:before {
  top: -4926px;
}

.icon--24-comment:before {
  top: -4950px;
}

.icon--24-compass:before {
  top: -4974px;
}

.icon--24-compliment:before {
  top: -4998px;
}

.icon--24-compose:before {
  top: -5022px;
}

.icon--24-compose-outline:before {
  top: -5046px;
}

.icon--24-contacts:before {
  top: -5070px;
}

.icon--24-cool:before {
  top: -5094px;
}

.icon--24-cool-outline:before {
  top: -5118px;
}

.icon--24-copy:before {
  top: -5142px;
}

.icon--24-copy-outline:before {
  top: -5166px;
}

.icon--24-counter-order:before {
  top: -5190px;
}

.icon--24-credit-card:before {
  top: -5214px;
}

.icon--24-croissant:before {
  top: -5238px;
}

.icon--24-dancing:before {
  top: -5262px;
}

.icon--24-dash:before {
  top: -5286px;
}

.icon--24-deal:before {
  top: -5310px;
}

.icon--24-demographics-20s:before {
  top: -5334px;
}

.icon--24-demographics-30s:before {
  top: -5358px;
}

.icon--24-demographics-40s:before {
  top: -5382px;
}

.icon--24-denied:before {
  top: -5406px;
}

.icon--24-desktop:before {
  top: -5430px;
}

.icon--24-directions:before {
  top: -5454px;
}

.icon--24-discovery:before {
  top: -5478px;
}

.icon--24-discovery-outline:before {
  top: -5502px;
}

.icon--24-download:before {
  top: -5526px;
}

.icon--24-download-outline:before {
  top: -5550px;
}

.icon--24-drafts:before {
  top: -5574px;
}

.icon--24-dress:before {
  top: -5598px;
}

.icon--24-dressy:before {
  top: -5622px;
}

.icon--24-drip:before {
  top: -5646px;
}

.icon--24-drive-thru:before {
  top: -5670px;
}

.icon--24-drugstores:before {
  top: -5694px;
}

.icon--24-duke:before {
  top: -5718px;
}

.icon--24-envelope:before {
  top: -5742px;
}

.icon--24-envelope-open:before {
  top: -5766px;
}

.icon--24-envelope-outline:before {
  top: -5790px;
}

.icon--24-event:before {
  top: -5814px;
}

.icon--24-event-outline:before {
  top: -5838px;
}

.icon--24-exclamation:before {
  top: -5862px;
}

.icon--24-external-link:before {
  top: -5886px;
}

.icon--24-facebook:before {
  top: -5910px;
}

.icon--24-fast-responder:before {
  top: -5934px;
}

.icon--24-feed:before {
  top: -5958px;
}

.icon--24-feed-outline:before {
  top: -5982px;
}

.icon--24-file:before {
  top: -6006px;
}

.icon--24-filter:before {
  top: -6030px;
}

.icon--24-fine:before {
  top: -6054px;
}

.icon--24-first:before {
  top: -6078px;
}

.icon--24-fit:before {
  top: -6102px;
}

.icon--24-flag:before {
  top: -6126px;
}

.icon--24-flame:before {
  top: -6150px;
}

.icon--24-followers:before {
  top: -6174px;
}

.icon--24-following:before {
  top: -6198px;
}

.icon--24-food:before {
  top: -6222px;
}

.icon--24-formal:before {
  top: -6246px;
}

.icon--24-friends:before {
  top: -6270px;
}

.icon--24-funny:before {
  top: -6294px;
}

.icon--24-funny-outline:before {
  top: -6318px;
}

.icon--24-gas-station:before {
  top: -6342px;
}

.icon--24-gender-neutral:before {
  top: -6366px;
}

.icon--24-gift:before {
  top: -6390px;
}

.icon--24-github:before {
  top: -6414px;
}

.icon--24-google:before {
  top: -6438px;
}

.icon--24-grid:before {
  top: -6462px;
}

.icon--24-groups:before {
  top: -6486px;
}

.icon--24-guide:before {
  top: -6510px;
}

.icon--24-guide-outline:before {
  top: -6534px;
}

.icon--24-hamburger:before {
  top: -6558px;
}

.icon--24-hamburger-outline:before {
  top: -6582px;
}

.icon--24-happy-hour:before {
  top: -6606px;
}

.icon--24-heart:before {
  top: -6630px;
}

.icon--24-heart-chat:before {
  top: -6654px;
}

.icon--24-hike:before {
  top: -6678px;
}

.icon--24-history-outline:before {
  top: -6702px;
}

.icon--24-hospital:before {
  top: -6726px;
}

.icon--24-hospital-readmission:before {
  top: -6750px;
}

.icon--24-house:before {
  top: -6774px;
}

.icon--24-ice-cream:before {
  top: -6798px;
}

.icon--24-info:before {
  top: -6822px;
}

.icon--24-info-outline:before {
  top: -6846px;
}

.icon--24-instagram:before {
  top: -6870px;
}

.icon--24-insurance:before {
  top: -6894px;
}

.icon--24-key:before {
  top: -6918px;
}

.icon--24-keyboard-active:before {
  top: -6942px;
}

.icon--24-keyboard-inactive:before {
  top: -6966px;
}

.icon--24-kids:before {
  top: -6990px;
}

.icon--24-king:before {
  top: -7014px;
}

.icon--24-light-bulb:before {
  top: -7038px;
}

.icon--24-light-bulb-outline:before {
  top: -7062px;
}

.icon--24-lightning-bolt:before {
  top: -7086px;
}

.icon--24-like:before {
  top: -7110px;
}

.icon--24-like-outline:before {
  top: -7134px;
}

.icon--24-line:before {
  top: -7158px;
}

.icon--24-linkedin:before {
  top: -7182px;
}

.icon--24-list:before {
  top: -7206px;
}

.icon--24-location:before {
  top: -7230px;
}

.icon--24-location-android:before {
  top: -7254px;
}

.icon--24-magic-wand:before {
  top: -7278px;
}

.icon--24-mail:before {
  top: -7302px;
}

.icon--24-mail-open:before {
  top: -7326px;
}

.icon--24-mail-outline:before {
  top: -7350px;
}

.icon--24-map:before {
  top: -7374px;
}

.icon--24-map-marker:before {
  top: -7398px;
}

.icon--24-marker:before {
  top: -7422px;
}

.icon--24-marker-grouped:before {
  top: -7446px;
}

.icon--24-massage:before {
  top: -7470px;
}

.icon--24-medical:before {
  top: -7494px;
}

.icon--24-menu:before {
  top: -7518px;
}

.icon--24-menu-filled:before {
  top: -7542px;
}

.icon--24-menu-outline:before {
  top: -7566px;
}

.icon--24-merge:before {
  top: -7590px;
}

.icon--24-message:before {
  top: -7614px;
}

.icon--24-message-outline:before {
  top: -7638px;
}

.icon--24-messenger:before {
  top: -7662px;
}

.icon--24-mobile:before {
  top: -7686px;
}

.icon--24-money:before {
  top: -7710px;
}

.icon--24-monocle:before {
  top: -7734px;
}

.icon--24-monocle-outline:before {
  top: -7758px;
}

.icon--24-moon:before {
  top: -7782px;
}

.icon--24-more:before {
  top: -7806px;
}

.icon--24-more-outline:before {
  top: -7830px;
}

.icon--24-music:before {
  top: -7854px;
}

.icon--24-nearby:before {
  top: -7878px;
}

.icon--24-nearby-filled:before {
  top: -7902px;
}

.icon--24-nearby-outline:before {
  top: -7926px;
}

.icon--24-night:before {
  top: -7950px;
}

.icon--24-nightlife:before {
  top: -7974px;
}

.icon--24-no-bars:before {
  top: -7998px;
}

.icon--24-no-cash:before {
  top: -8022px;
}

.icon--24-nope:before {
  top: -8046px;
}

.icon--24-notification:before {
  top: -8070px;
}

.icon--24-notification-outline:before {
  top: -8094px;
}

.icon--24-order:before {
  top: -8118px;
}

.icon--24-order-outline:before {
  top: -8142px;
}

.icon--24-outdoor-seating:before {
  top: -8166px;
}

.icon--24-palette:before {
  top: -8190px;
}

.icon--24-paper-plane:before {
  top: -8214px;
}

.icon--24-parking:before {
  top: -8238px;
}

.icon--24-party:before {
  top: -8262px;
}

.icon--24-paypal:before {
  top: -8286px;
}

.icon--24-pdf:before {
  top: -8310px;
}

.icon--24-pencil:before {
  top: -8334px;
}

.icon--24-phone:before {
  top: -8358px;
}

.icon--24-pin:before {
  top: -8382px;
}

.icon--24-pinterest:before {
  top: -8406px;
}

.icon--24-plane:before {
  top: -8430px;
}

.icon--24-play:before {
  top: -8454px;
}

.icon--24-polaroid:before {
  top: -8478px;
}

.icon--24-printer:before {
  top: -8502px;
}

.icon--24-professional:before {
  top: -8526px;
}

.icon--24-profile:before {
  top: -8550px;
}

.icon--24-profile-badged:before {
  top: -8574px;
}

.icon--24-profile-badged-outline:before {
  top: -8598px;
}

.icon--24-profile-video:before {
  top: -8622px;
}

.icon--24-propublica:before {
  top: -8646px;
}

.icon--24-public-service:before {
  top: -8670px;
}

.icon--24-regular:before {
  top: -8694px;
}

.icon--24-religion:before {
  top: -8718px;
}

.icon--24-reply:before {
  top: -8742px;
}

.icon--24-reservation:before {
  top: -8766px;
}

.icon--24-reservation-outline:before {
  top: -8790px;
}

.icon--24-review:before {
  top: -8814px;
}

.icon--24-review-outline:before {
  top: -8838px;
}

.icon--24-rss:before {
  top: -8862px;
}

.icon--24-sandwich:before {
  top: -8886px;
}

.icon--24-search:before {
  top: -8910px;
}

.icon--24-search-outline:before {
  top: -8934px;
}

.icon--24-search-small:before {
  top: -8958px;
}

.icon--24-selfie:before {
  top: -8982px;
}

.icon--24-settings:before {
  top: -9006px;
}

.icon--24-settings-outline:before {
  top: -9030px;
}

.icon--24-share:before {
  top: -9054px;
}

.icon--24-share-android:before {
  top: -9078px;
}

.icon--24-share-ios:before {
  top: -9102px;
}

.icon--24-shopping:before {
  top: -9126px;
}

.icon--24-shovel:before {
  top: -9150px;
}

.icon--24-sleep:before {
  top: -9174px;
}

.icon--24-smoking:before {
  top: -9198px;
}

.icon--24-sound-off:before {
  top: -9222px;
}

.icon--24-sound-on:before {
  top: -9246px;
}

.icon--24-spa:before {
  top: -9270px;
}

.icon--24-speech:before {
  top: -9294px;
}

.icon--24-speech-outline:before {
  top: -9318px;
}

.icon--24-speech-round:before {
  top: -9342px;
}

.icon--24-stage:before {
  top: -9366px;
}

.icon--24-star:before {
  top: -9390px;
}

.icon--24-star-outline:before {
  top: -9414px;
}

.icon--24-stations:before {
  top: -9438px;
}

.icon--24-support-outline:before {
  top: -9462px;
}

.icon--24-survival:before {
  top: -9486px;
}

.icon--24-talk:before {
  top: -9510px;
}

.icon--24-talk-outline:before {
  top: -9534px;
}

.icon--24-target:before {
  top: -9558px;
}

.icon--24-television:before {
  top: -9582px;
}

.icon--24-tennis:before {
  top: -9606px;
}

.icon--24-ticket:before {
  top: -9630px;
}

.icon--24-tip-of-the-day:before {
  top: -9654px;
}

.icon--24-tools:before {
  top: -9678px;
}

.icon--24-transit:before {
  top: -9702px;
}

.icon--24-trash:before {
  top: -9726px;
}

.icon--24-trending:before {
  top: -9750px;
}

.icon--24-tumblr:before {
  top: -9774px;
}

.icon--24-twitter:before {
  top: -9798px;
}

.icon--24-unfollow:before {
  top: -9822px;
}

.icon--24-unknown:before {
  top: -9846px;
}

.icon--24-unknown-outline:before {
  top: -9870px;
}

.icon--24-update:before {
  top: -9894px;
}

.icon--24-useful:before {
  top: -9918px;
}

.icon--24-useful-outline:before {
  top: -9942px;
}

.icon--24-veggie:before {
  top: -9966px;
}

.icon--24-video:before {
  top: -9990px;
}

.icon--24-visible:before {
  top: -10014px;
}

.icon--24-waiter:before {
  top: -10038px;
}

.icon--24-walk:before {
  top: -10062px;
}

.icon--24-warning:before {
  top: -10086px;
}

.icon--24-warning-outline:before {
  top: -10110px;
}

.icon--24-whatsapp:before {
  top: -10134px;
}

.icon--24-wheelchair:before {
  top: -10158px;
}

.icon--24-wifi:before {
  top: -10182px;
}

.icon--24-windows:before {
  top: -10206px;
}

.icon--24-yelp:before {
  top: -10230px;
}

.icon--24-yelp-outline:before {
  top: -10254px;
}

.icon--24-youtube:before {
  top: -10278px;
}

.icon--28-search:before {
  top: -10302px;
}

.icon--30-activity:before {
  top: -10330px;
}

.icon--30-activity-outline:before {
  top: -10360px;
}

.icon--30-add:before {
  top: -10390px;
}

.icon--30-add-outline:before {
  top: -10420px;
}

.icon--30-basket:before {
  top: -10450px;
}

.icon--30-basket-outline:before {
  top: -10480px;
}

.icon--30-bell:before {
  top: -10510px;
}

.icon--30-bell-outline:before {
  top: -10540px;
}

.icon--30-bizhouse:before {
  top: -10570px;
}

.icon--30-bizhouse-outline:before {
  top: -10600px;
}

.icon--30-bizhouse-switch:before {
  top: -10630px;
}

.icon--30-bizhouse-switch-outline:before {
  top: -10660px;
}

.icon--30-bookmark:before {
  top: -10690px;
}

.icon--30-bookmark-outline:before {
  top: -10720px;
}

.icon--30-bullhorn:before {
  top: -10750px;
}

.icon--30-bullhorn-outline:before {
  top: -10780px;
}

.icon--30-camera-flip-outline:before {
  top: -10810px;
}

.icon--30-cart:before {
  top: -10840px;
}

.icon--30-cart-outline:before {
  top: -10870px;
}

.icon--30-chat:before {
  top: -10900px;
}

.icon--30-chat-outline:before {
  top: -10930px;
}

.icon--30-checkmark-badged:before {
  top: -10960px;
}

.icon--30-close:before {
  top: -10990px;
}

.icon--30-close-outline:before {
  top: -11020px;
}

.icon--30-discovery:before {
  top: -11050px;
}

.icon--30-discovery-outline:before {
  top: -11080px;
}

.icon--30-food:before {
  top: -11110px;
}

.icon--30-food-outline:before {
  top: -11140px;
}

.icon--30-guide:before {
  top: -11170px;
}

.icon--30-guide-outline:before {
  top: -11200px;
}

.icon--30-hamburger:before {
  top: -11230px;
}

.icon--30-hamburger-outline:before {
  top: -11260px;
}

.icon--30-history:before {
  top: -11290px;
}

.icon--30-history-outline:before {
  top: -11320px;
}

.icon--30-message:before {
  top: -11350px;
}

.icon--30-message-outline:before {
  top: -11380px;
}

.icon--30-monocle:before {
  top: -11410px;
}

.icon--30-monocle-outline:before {
  top: -11440px;
}

.icon--30-nearby-filled:before {
  top: -11470px;
}

.icon--30-nearby-outline:before {
  top: -11500px;
}

.icon--30-no-flash:before {
  top: -11530px;
}

.icon--30-order:before {
  top: -11560px;
}

.icon--30-order-outline:before {
  top: -11590px;
}

.icon--30-profile-badged:before {
  top: -11620px;
}

.icon--30-profile-badged-outline:before {
  top: -11650px;
}

.icon--30-review:before {
  top: -11680px;
}

.icon--30-review-outline:before {
  top: -11710px;
}

.icon--30-search:before {
  top: -11740px;
}

.icon--30-search-outline:before {
  top: -11770px;
}

.icon--30-speech:before {
  top: -11800px;
}

.icon--30-speech-outline:before {
  top: -11830px;
}

.icon--36-camera:before {
  top: -11860px;
}

.icon--36-profile-badged:before {
  top: -11896px;
}

.icon--36-review:before {
  top: -11932px;
}

.icon--48-add-photo-circle-container:before {
  top: -11968px;
}

.icon--48-beauty:before {
  top: -12016px;
}

.icon--48-camera:before {
  top: -12064px;
}

.icon--48-check-in-circle-container:before {
  top: -12112px;
}

.icon--48-chevron-left:before {
  top: -12160px;
}

.icon--48-chevron-right:before {
  top: -12208px;
}

.icon--48-food:before {
  top: -12256px;
}

.icon--48-nightlife:before {
  top: -12304px;
}

.icon--48-shopping:before {
  top: -12352px;
}

.icon--48-tools:before {
  top: -12400px;
}

.icon--56-compass:before {
  top: -12448px;
}

.icon--56-video-play:before {
  top: -12504px;
}

.icon--60-beauty:before {
  top: -12560px;
}

.icon--60-food:before {
  top: -12620px;
}

.icon--60-nightlife:before {
  top: -12680px;
}

.icon--60-review-circle-container:before {
  top: -12740px;
}

.icon--60-shopping:before {
  top: -12800px;
}

.icon--60-tools:before {
  top: -12860px;
}

.icon--78-video-play:before {
  top: -12920px;
}

.icon--96-video-play:before {
  top: -12998px;
}
