
.i-stars--regular-0__09f24__3g9b7 {
  width: 102px;
  height: 18px;
  background-position: 0 -240px
}

@media print {
  .i-stars--regular-0__09f24__3g9b7 img {
    left: 0;
    top: -240px
  }
}

.i-stars--regular-1__09f24__14nrQ {
  width: 102px;
  height: 18px;
  background-position: 0 -258px
}

@media print {
  .i-stars--regular-1__09f24__14nrQ img {
    left: 0;
    top: -258px
  }
}

.i-stars--regular-1-half__09f24__2DJw5 {
  width: 102px;
  height: 18px;
  background-position: 0 -276px
}

@media print {
  .i-stars--regular-1-half__09f24__2DJw5 img {
    left: 0;
    top: -276px
  }
}

.i-stars--regular-2__09f24__rHJw2 {
  width: 102px;
  height: 18px;
  background-position: 0 -294px
}

@media print {
  .i-stars--regular-2__09f24__rHJw2 img {
    left: 0;
    top: -294px
  }
}

.i-stars--regular-2-half__09f24__3hKnR {
  width: 102px;
  height: 18px;
  background-position: 0 -312px
}

@media print {
  .i-stars--regular-2-half__09f24__3hKnR img {
    left: 0;
    top: -312px
  }
}

.i-stars--regular-3__09f24__1DXMK {
  width: 102px;
  height: 18px;
  background-position: 0 -330px
}

@media print {
  .i-stars--regular-3__09f24__1DXMK img {
    left: 0;
    top: -330px
  }
}

.i-stars--regular-3-half__09f24__3xVLQ {
  width: 102px;
  height: 18px;
  background-position: 0 -348px
}

@media print {
  .i-stars--regular-3-half__09f24__3xVLQ img {
    left: 0;
    top: -348px
  }
}

.i-stars--regular-4__09f24__3acau {
  width: 102px;
  height: 18px;
  background-position: 0 -366px
}

@media print {
  .i-stars--regular-4__09f24__3acau img {
    left: 0;
    top: -366px
  }
}

.i-stars--regular-4-half__09f24__3VLp8 {
  width: 102px;
  height: 18px;
  background-position: 0 -384px
}

@media print {
  .i-stars--regular-4-half__09f24__3VLp8 img {
    left: 0;
    top: -384px
  }
}

.i-stars--regular-5__09f24__ySHIl {
  width: 102px;
  height: 18px;
  background-position: 0 -402px
}

@media print {
  .i-stars--regular-5__09f24__ySHIl img {
    left: 0;
    top: -402px
  }
}

.i-stars--small-0__09f24__19qGz {
  width: 82px;
  height: 14px;
  background-position: 0 -420px
}

@media print {
  .i-stars--small-0__09f24__19qGz img {
    left: 0;
    top: -420px
  }
}

.i-stars--small-1__09f24__2ptd_ {
  width: 82px;
  height: 14px;
  background-position: 0 -434px
}

@media print {
  .i-stars--small-1__09f24__2ptd_ img {
    left: 0;
    top: -434px
  }
}

.i-stars--small-1-half__09f24___C502 {
  width: 82px;
  height: 14px;
  background-position: 0 -448px
}

@media print {
  .i-stars--small-1-half__09f24___C502 img {
    left: 0;
    top: -448px
  }
}

.i-stars--small-2__09f24__2hJny {
  width: 82px;
  height: 14px;
  background-position: 0 -462px
}

@media print {
  .i-stars--small-2__09f24__2hJny img {
    left: 0;
    top: -462px
  }
}

.i-stars--small-2-half__09f24__1gO6d {
  width: 82px;
  height: 14px;
  background-position: 0 -476px
}

@media print {
  .i-stars--small-2-half__09f24__1gO6d img {
    left: 0;
    top: -476px
  }
}

.i-stars--small-3__09f24__Q3TVV {
  width: 82px;
  height: 14px;
  background-position: 0 -490px
}

@media print {
  .i-stars--small-3__09f24__Q3TVV img {
    left: 0;
    top: -490px
  }
}

.i-stars--small-3-half__09f24__DThJw {
  width: 82px;
  height: 14px;
  background-position: 0 -504px
}

@media print {
  .i-stars--small-3-half__09f24__DThJw img {
    left: 0;
    top: -504px
  }
}

.i-stars--small-4__09f24__3qi_8 {
  width: 82px;
  height: 14px;
  background-position: 0 -518px
}

@media print {
  .i-stars--small-4__09f24__3qi_8 img {
    left: 0;
    top: -518px
  }
}

.i-stars--small-4-half__09f24__1aVzc {
  width: 82px;
  height: 14px;
  background-position: 0 -532px
}

@media print {
  .i-stars--small-4-half__09f24__1aVzc img {
    left: 0;
    top: -532px
  }
}

.i-stars--small-5__09f24__2WLCA {
  width: 82px;
  height: 14px;
  background-position: 0 -546px
}

@media print {
  .i-stars--small-5__09f24__2WLCA img {
    left: 0;
    top: -546px
  }
}

@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
  .i-stars__09f24__Y2F3O {
    background-image: url(https://s3-media0.fl.yelpcdn.com/assets/public/stars@2x.yji-490b09f669eae3020fd5125e972d4179.png)
  }
}
