.i-selector-stars__09f24__UXiGQ {
  background: url(https://s3-media0.fl.yelpcdn.com/assets/public/selector_stars.yji-ec283fc1c019a74bcc6924bfb7b950a7.png) no-repeat;
  background-size: 162px 180px;
  display: inline-block;
  vertical-align: middle
}

@media print {
  .i-selector-stars__09f24__UXiGQ {
    background-image: none !important
  }

  .i-selector-stars__09f24__UXiGQ img {
    position: relative;
    width: auto;
    height: auto
  }
}

.i-selector-stars--extra-large-0__09f24__3GE2w {
  width: 162px;
  height: 30px;
  background-position: 0 0
}

@media print {
  .i-selector-stars--extra-large-0__09f24__3GE2w img {
    left: 0;
    top: 0
  }
}

.i-selector-stars--extra-large-1__09f24__3T7vj {
  width: 162px;
  height: 30px;
  background-position: 0 -30px
}

@media print {
  .i-selector-stars--extra-large-1__09f24__3T7vj img {
    left: 0;
    top: -30px
  }
}

.i-selector-stars--extra-large-2__09f24__23QSQ {
  width: 162px;
  height: 30px;
  background-position: 0 -60px
}

@media print {
  .i-selector-stars--extra-large-2__09f24__23QSQ img {
    left: 0;
    top: -60px
  }
}

.i-selector-stars--extra-large-3__09f24__27nis {
  width: 162px;
  height: 30px;
  background-position: 0 -90px
}

@media print {
  .i-selector-stars--extra-large-3__09f24__27nis img {
    left: 0;
    top: -90px
  }
}

.i-selector-stars--extra-large-4__09f24__2e7Js {
  width: 162px;
  height: 30px;
  background-position: 0 -120px
}

@media print {
  .i-selector-stars--extra-large-4__09f24__2e7Js img {
    left: 0;
    top: -120px
  }
}

.i-selector-stars--extra-large-5__09f24__2J5b0 {
  width: 162px;
  height: 30px;
  background-position: 0 -150px
}

@media print {
  .i-selector-stars--extra-large-5__09f24__2J5b0 img {
    left: 0;
    top: -150px
  }
}

@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
  .i-selector-stars__09f24__UXiGQ {
    background-image: url(https://s3-media0.fl.yelpcdn.com/assets/public/selector_stars@2x.yji-cadbcc85bdb243fb2f7a4fb44caa85ab.png)
  }
}
