.new-category-picker input[type="text"] {
  margin-bottom: 0
}

.new-category-picker input[type="text"].input-error {
  margin-bottom: 6px
}

.ypop .new-category-picker .autocomplete_choices {
  position: static
}

.new-category-picker .throbber {
  margin: 3px 0 0 12px;
  display: inline-block
}

.new-category-picker .link-more {
  display: block
}

.new-category-picker .no-result {
  padding: 18px 9px
}

.new-category-picker .category-name {
  margin: 6px 0
}

.new-category-picker .category-name .read-more {
  margin-left: 12px
}

.new-category-picker .category-name .parent-category-suggestion {
  color: #f2a01d;
  padding-top: 1px
}

.new-category-picker .category-name .parent-category-suggestion .read-more {
  margin-left: 3px
}

.new-category-picker .hidden {
  display: none
}

#BusinessCategoryYelp_categories .help-block {
  margin: -6px 0 3px
}

.biz-info-edit .new-category-picker input {
  width: 383px
}

.map-wrapper .map-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 6px;
  padding: 5px;
  background: white;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 2px 4px rgba(153, 153, 153, 0.15);
  box-shadow: 0 2px 4px rgba(153, 153, 153, 0.15)
}

.map-popup-info {
  background: url(/images/map_marker_hand.png) no-repeat;
  padding-left: 38px;
  height: 40px;
  margin-bottom: 10px
}

.map-popup-info.bing-map {
  background: url(/assets/2/www/img/e12b1007667d/map/map_marker_hand_no_x.png) no-repeat
}

.map-popup-container .popup-map {
  width: 600px;
  height: 400px;
  border: 1px solid #ccc
}

.map-popup-container .popup-map .engine-container {
  height: 100%;
  width: 100%
}

.day-hours .hours-display {
  margin-bottom: 6px
}

.day-hours .hours-display .hours {
  display: table-row;
  margin-bottom: 3px
}

.day-hours .hours-display span {
  display: table-cell;
  padding-right: 9px
}

.day-hours .hours-display .weekday {
  font-weight: bold
}

.day-hours a.remove-hours {
  font-size: 12px;
  margin-left: 6px
}

#hours-confirmation-pop {
  width: 465px
}

.biz-attrib-form input[type="text"], .biz-attrib-form input[type="url"], .biz-attrib-form .BusinessState select {
  width: 370px
}

.biz-attrib-form textarea {
  height: 95px
}

.biz-attrib-form .radio-check {
  float: left;
  margin-right: 18px;
  margin-bottom: 0
}

.biz-attrib-form .BusinessCategoryYelp, .biz-attrib-form .is-dup-biz, .biz-attrib-form .newly-opened-biz, .biz-attrib-form .AddressNotEditable {
  margin-bottom: 18px
}

.biz-attrib-form .category-select {
  display: inline;
  width: auto;
  margin: 0 6px 6px 0
}

.biz-attrib-form .category-name {
  margin-bottom: 6px
}

.biz-attrib-form .category-name .read-more {
  margin-left: 12px
}

.biz-attrib-form .BusinessHours p, .biz-attrib-form .BusinessCategoryYelp p {
  margin: 0
}

.biz-attrib-form .BusinessHours {
  width: 450px
}

.biz-attrib-form .business-closed-moved {
  clear: left
}

.biz-attrib-form .business-closed-moved > ul {
  margin-left: 18px
}

.biz-attrib-form .business-closed-moved > ul li {
  display: block
}

.biz-attrib-form .business-closed-moved li > label {
  display: block;
  font-weight: normal
}

.biz-attrib-form .business-date-picker {
  font-size: 12px
}

.biz-attrib-form .business-date-picker .date-picker {
  display: inline-block;
  margin-left: 5px
}

.biz-attrib-form .date-picker input[type="text"] {
  width: 110px;
  margin: 0;
  display: inline
}

.biz-attrib-form .business-date-picker, .biz-attrib-form #business-finder-container {
  margin: 6px 18px 12px
}

.biz-attrib-form .biz-edit-description {
  width: 500px;
  margin-bottom: 18px
}

.biz-attrib-form .biz-edit-description .info-field {
  float: right;
  margin-top: -12px;
  font-size: 12px
}

.biz-attrib-form .locked-attr-note {
  float: none
}

.biz-attrib-form #attr_BusinessStreetAddress1_zh, .biz-attrib-form .BusinessAddressAlternate input[name="BusinessStreetAddress1_en"] {
  margin: 0
}

.biz-attrib-form_teaser {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 370px
}
